<header class="navbar">
  <section class="navbar-section">
    <a routerLink="/" class="navbar-brand mr-2">
      <img src="/assets/ClearReview-Logo-300px.png" alt="Clear Review" id="logo">
    </a>
  </section>
  <section class="navbar-section">
    <span class="text-right">Clear Review Technical Text</span>
  </section>
</header>

<div class="wrap">
  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-gray">
    <div class="columns">
      <div class="column col-12 text-right">
        <p>by <a href="https://www.linkedin.com/in/nicksnape/">Nick Snape</a></p>
      </div>
    </div>
  </footer>
</div>
