@import '../../../assets/scss/variables';

.filter-panel {
  margin-bottom: 2em;
}

.sort-panel {
  margin-bottom: .1em;

  .btn-sm {
    position: relative;

    .icon-arrow-up,
    .icon-arrow-down {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}
