@import '../../../assets/scss/variables';

.empty .btn-primary,
.modal .btn-primary,
#add-words.btn-primary {
  background-color: #e4b200;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.filter-panel {
  margin-bottom: 2em;
}

.sort-panel {
  margin-bottom: .1em;

  .btn-sm {
    position: relative;

    .icon-arrow-up,
    .icon-arrow-down {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}
